$bgfooter: #31352B;

%lato-400 {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

%lato-600 {
    font-family: 'Lato-Semibold', sans-serif;
    font-weight: 600;
}

%lato-700 {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
}

%signika-700 {
    font-family: 'Signika-Bold', sans-serif;
    font-weight: 700;
}

%btn {
    padding: 12px 24px;
    background-color: #63A60E;
    color: #fff;
    border-radius: 6px;
    @extend %lato-400;
}

%btn-transparent {
    padding: 12px 24px;
    background-color: transparent;
    color: #63A60E;
    border: 1px solid #63A60E;
    border-radius: 6px;
    @extend %lato-400;
}