@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        letter-spacing: 0.03em;
    }

}

.header-top {
    background-color: #31352B;
    padding: 17px 0;
}

.hotline {
    position: relative;
    margin-left: 82px;
}

.hotline::before {
    content: '';
    background-image: url(../images/icons/hotline.svg);
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: 0;
    left: -35px;
}

.delivery {
    position: relative;
    margin-left: 44px;
}

.delivery::before {
    content: '';
    background-image: url(../images/icons/delivery.svg);
    position: absolute;
    width: 32px;
    height: 22px;
    bottom: 0;
    left: -45px;
}

.menu {
    &__list {
        display: flex;
    }

    &__list-link:hover {
        color: #a0a0a0;
    }

    &__list-link:focus {
        color: #a0a0a0;
    }

    &__list-link:active {
        color: #a0a0a0;
    }
}

.menu__list-item+li {
    margin-left: 24px;
}

.header-bottom {
    padding: 25px 0 25px;
    background-color: #63A60F;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.dropdown {
    z-index: 20;

    &__list {
        position: relative;
    }

    &__links {
        border-radius: 6px;
    }

    &__links:hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__title-link {
        display: block;
        padding: 15px 65px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        text-decoration: none;
        color: #63A60E;
    }

    &__title-link:hover {
        background-color: #E0EDCF;
        transition: all 0.3s;
    }

    &__link {
        margin-right: 10px;
        padding: 15px 16px 15px;
        display: block;
        font-size: 16px;
        line-height: 140%;
        min-width: 252px;
        text-decoration: none;
    }

    &__link:hover {
        color: #63A60E;
        border-left: 3px solid #63A60E;
        margin-left: 0px;
    }

    &__link:focus {
        color: #63A60E;
        border-left: 3px solid #63A60E;
        margin-left: 0px;
    }

    &__link:active {
        color: #63A60E;
        border-left: 3px solid #63A60E;
        margin-left: 0px;
    }

    &__title-link::before {
        content: '';
        position: absolute;
        left: 15px;
        background-image: url(../images/icons/nav-icon.svg);
        width: 24px;
        height: 17px;
    }

    &__title-link::after {
        content: '˅';
        position: absolute;
        margin-left: 14px;
        transform: rotateX(45deg);
    }

    &__title-link:hover::after {
        content: '˄';
        position: absolute;
        margin-top: 0;
        margin-left: 14px;
    }

    &__items {
        color: #000;
    }

}

.dropdown ul li {
    background-color: #fff;
    border: solid 1px rgba(193, 193, 193, 0.3);
}

.dropdown li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown li:first-child:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.dropdown ul li:hover>ul {
    display: inherit;
}

.dropdown ul ul li {
    float: none;
    display: list-item;
    position: relative;
}

.search {
    position: relative;

    &__field {
        padding-left: 51px;
        width: 419px;
        height: 50px;
        border: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .input__icon {
        position: absolute;
        top: 15px;
        left: 12px;
        width: 21px;
        height: 20px;
    }

    &__btn {
        padding: 17px 50px;
        text-transform: uppercase;
        margin-left: -5px;
        border: none;
        color: #fff;
        background-color: #31352B;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        transition: 0.5s;
    }

    &__btn:hover {
        transform: scale(1.05);
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
        transition: all 0.5s;
    }

    &__link:hover {
        transform: scale(1.1);
    }

    &__link:focus {
        transform: scale(1.2);
    }

    &__link:active {
        transform: scale(1.2);
    }

    &__link+.user-nav__link {
        padding-left: 31px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        color: #CF3E3B;
        background-color: #fff;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 600;
        top: -9px;
        right: 20px;
        text-align: center;
        line-height: 18px;
    }
}

footer {
    background-color: $bgfooter;
    color: #fff;
    font-size: 14px;
}

.footer-border {
    border-bottom: 2px solid rgba(255, 255, 255, 0.288);
    position: relative;
    bottom: 85px;
}

.footer-top {
    line-height: 140%;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;

    &__list {
        margin-top: 71px;
    }

    &__subtitle {
        margin-top: 30px;
    }

    &__item {
        margin-top: 18px;
    }

    &__items-link {

        margin-left: 159px;
        width: 467px;
        display: flex;
        justify-content: space-between;
    }
}

.subscribe {
    margin-top: 18px;

    &__field {
        width: 182px;
        height: 40px;
        border-radius: 6px 0px 0px 6px;
        border: none;
        padding: 12px;
    }

    &__btn {
        position: absolute;
        width: 118px;
        height: 40px;
        background-color: #63A60E;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: none;
        transition: all 0.5s;
    }

    &__btn:hover {
        transform: scale(1.05);
    }
}

.contacts {
    margin-top: 90px;
}

.contact {

    &__address {
        padding-top: 18px;
    }

    &__social-icons {
        display: flex;
        padding-top: 18px;
        margin-left: -7px;


    }

    &__social-icon {
        margin-left: 12px;
    }
}

.footer-bottom {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;

    &__accept {
        display: flex;
    }

    &__accept-img {
        margin-left: 24px;
    }
}

.top-slider {

    &__content {
        position: absolute;
        margin-left: 315px;
        top: 143px;
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
    }

    &__title {
        font-size: 60px;
        line-height: 78px;
        color: #505050;
        text-transform: uppercase;
        @extend %signika-700;
    }

    &__title-bottom {
        display: block;
        color: #CF3E3B;
    }

    &__text {
        color: #505050;
        font-size: 16px;
    }

    &__link {
        position: absolute;
        bottom: -76px;
        left: 0;
        @extend %btn;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 66;
    width: 30px;
    height: 55px;
    border: none;
    border-radius: 6px;
}

.slick-prev {
    left: 0;
    background: url('../images/icons/left-arrow.svg') 20px 15px / 30% no-repeat;
    margin-left: 60px;
    top: 45%;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
}

.slick-next {
    right: 0;
    top: 45%;
    background: url('../images/icons/right-arrow.svg') 20px 15px / 30% no-repeat;
    margin-right: 60px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
}

.categories {
    padding: 72px 0;

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 32px;
    }

    &__filter-btn {
        text-align: center;
    }

    &__btn {
        text-align: center;
        letter-spacing: 0.03em;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        margin-top: 35px;
    }
}

.mix {
    max-width: 300px;
    max-height: 409px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
}

.product {

    &__icon-heart {
        fill: #c1c1c1;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 7px;
    }

    &__top-icon {
        display: flex;
        justify-content: flex-end;
        padding: 12px 12px 7px;
    }

    &__left-top {
        display: inline-flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 10px;
    }

    &__new {
        font-size: 10px;
        padding: 3px 6px;
        color: #fff;
        background-color: #63A60E;
        border-radius: 6px;
    }

    &__discount {
        text-align: center;
        color: #fff;
        padding: 3px 6px;
        background-color: #CF3E3B;
        border-radius: 6px;
        margin-top: 6px;

    }

    &__hit {
        padding: 9px 6px;
        background-color: #FF7A00;
        border-radius: 6px;
        font-weight: bold;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        line-height: 10px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        flex: 1;
        margin: 18px 18px 50px 18px;
        // margin-bottom: 10px;
        letter-spacing: 0.03em;
        font-weight: 600;
    }

    &__bottom {
        padding: 0 20px 18px;
        display: flex;
        justify-content: space-between;
    }

    &__prices {
        letter-spacing: 0.03em;
        font-size: 14px;
        line-height: 14px;
    }

    &__old-price {
        position: relative;
        color: #C1C1C1;
    }

    &__old-price::before {
        position: absolute;
        content: '';
        border-bottom: 1px solid #c1c1c1;
        transform: rotate(-14.99deg);
        width: 44px;
        top: 6px;
    }

    &__price {
        margin-top: 3px;
        color: #505050;
    }

    &__prices-bottom {
        display: flex;
        align-items: flex-end;
    }

    &__btn-cart {
        padding: 8px;
        background-color: #63A60E;
        border-radius: 3px;
    }

    &__inner {
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        margin-top: 30px;
    }

    &__btn-transparent {
        @extend %btn-transparent;
    }

    &__btn-inner {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }

}

.info {
    display: flex;
    justify-content: space-between;
    color: #fff;

    &__item-left {
        background-image: url(../images/fruits1.jpg);
        width: 630px;
        height: 300px;
        color: #505050;
    }

    &__item-center {
        background-image: url(../images/fruits2.jpg);
        width: 300px;
    }

    &__item-right {
        background-image: url(../images/fruits3.jpg);
        width: 300px;
    }
}

.bottom-content {
    padding: 49px 0;
    background-color: #F6F6F6;
    margin-top: -3px;


    &__items {
        display: flex;
        justify-content: center;
        padding-left: 23px;

    }

    &__item {
        color: #121212;
        line-height: 180%;
        letter-spacing: 2px;
    }

    &__inner {
        display: flex;
        padding-left: 32px;
    }

    &__item-title {
        font-size: 16px;
        @extend %lato-700;

    }

    &__item-content {
        color: #505050;

    }

    &__icon {
        margin-right: 32px;
    }


}




@import 'media';